//@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,700i')

@import '~bulma/sass/utilities/initial-variables'
@import '~bulma/sass/utilities/functions'

//$family-roboto: Roboto, $family-sans-serif
//$family-primary: $family-roboto

.content blockquote
  font-size: $size-4
  &:before
    content: open-quote
  &:after
    content: close-quote

@import '~bulma/sass/utilities/derived-variables.sass'
