MYSQL_USER=bwstarter
MYSQL_PASSWORD=password
MYSQL_DATABASE=bwstarter

VARNISH_URL=http://varnish

APP_TRUSTED_PROXIES=["10.0.0.0/8","172.16.0.0/12","192.168.0.0/16"]
APP_TRUSTED_HOSTS=["localhost", "nginx", "serve.b-w.uk"]

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=d339caacbe914f4335161a7ab264a9c4
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL=mysql://bwstarter:password@mysql:3306/bwstarter
###< doctrine/doctrine-bundle ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN=^https?://localhost:?[0-9]*$
###< nelmio/cors-bundle ###
